* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: sans-serif;
  box-sizing: border-box;
  user-select: none;
}

html {
  overflow-x: hidden;
}

body {
  margin: auto;
  display: block;
  max-width: 1440px;
  background: #2d2d2d;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.apps {
  width: 330px;
  height: 330px;
  display: grid;
  position: relative;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.tic {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.tic:hover {
  color: cyan;
}
.ntch {
  margin-left: 30px;
}

.app_click {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed gray;
  color: #fff;
  font-size: 88px;
  transition: all 0.3s ease-in-out;
}

.app_click:hover {
  background: rgba(128, 128, 128, 0.266);
  cursor: pointer;
}

.apps_header {
  display: flex;
  align-items: center;
  padding: 10px 0 20px;
  position: relative;
  justify-content: space-between;
}
.resetBtn {
  margin-top: 10px;
  text-align: center;
}
.reset {
  padding: 8px 27px;
  font-size: 18px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(70deg, crimson, green);
  transition: all 0.3s ease-in-out;
}
.reset:hover {
  cursor: pointer;
  color: green;
}

.apps_header h3 {
  color: #fff;
}

.apps_header h3:nth-child(1) {
  color: red;
}
.apps_header h3:nth-child(2) {
  color: green;
}
.apps_header::after {
  content: "";
  width: 100%;
  height: 8px;
  left: 0;
  bottom: 5px;
  position: absolute;
  background: red;
}
.apps_header.activ::after {
  background: green;
}

.app_click.activ svg {
  fill: red !important;
}
.app_click.inactiv {
  color: green !important;
}
.apps.activ {
  border: 2px dashed gray;
}
.icons_content {
  margin-top: 17px;
  text-align: center;
  cursor: pointer;
}
.video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -9;
  position: fixed;
}
